id: sh.loft.devpod

runtime: org.gnome.Platform
runtime-version: '47'
sdk: org.gnome.Sdk

command: "sh.loft.devpod"
finish-args:
  - --socket=wayland # Permission needed to show the window
  - --socket=fallback-x11 # Permission needed to show the window
  - --device=dri # OpenGL, not necessary for all projects
  - --share=ipc
  - --share=network
  - --socket=ssh-auth
  - --socket=gpg-agent
  - --filesystem=home
  - --talk-name=org.freedesktop.Flatpak
  - --talk-name=org.freedesktop.Notifications
  - --talk-name=org.kde.StatusNotifierWatcher
  - --filesystem=xdg-run/keyring

modules:
  - shared-modules/libayatana-appindicator/libayatana-appindicator-gtk3.json
  - name: devpod
    buildsystem: simple
    sources:
      - type: file
        url: https://github.com/loft-sh/devpod/releases/download/v${VERSION}/DevPod_${VERSION}_amd64.deb
        sha256: ${SHA256}
        only-arches: [x86_64]
      - type: file
        url: https://github.com/loft-sh/devpod/releases/download/v${VERSION}/DevPod.desktop
        sha256: ${DESKTOP_SHA256}
      - type: file
        url: https://github.com/loft-sh/devpod/releases/download/v${VERSION}/DevPod.metainfo.xml
        sha256: ${META_SHA256}
      - type: file
        path: devpod-wrapper
    build-commands:
      - ar -x *.deb
      - tar -xf data.tar.gz
      - cp devpod-wrapper /app/bin/devpod-cli
      - chmod +x /app/bin/devpod-cli
      - install -Dm755 usr/bin/devpod-cli /app/bin/devpod-bin
      - install -Dm755 usr/bin/DevPod\ Desktop /app/bin/sh.loft.devpod
      - install -Dm644 DevPod.desktop /app/share/applications/sh.loft.devpod.desktop
      - desktop-file-edit --set-key Exec --set-value sh.loft.devpod /app/share/applications/sh.loft.devpod.desktop
      - desktop-file-edit --set-icon sh.loft.devpod /app/share/applications/sh.loft.devpod.desktop
      - install -Dm644 usr/share/icons/hicolor/128x128/apps/DevPod\ Desktop.png /app/share/icons/hicolor/128x128/apps/sh.loft.devpod.png
      - install -Dm644 usr/share/icons/hicolor/32x32/apps/DevPod\ Desktop.png /app/share/icons/hicolor/32x32/apps/sh.loft.devpod.png
      - install -Dm644 usr/share/icons/hicolor/256x256@2/apps/DevPod\ Desktop.png /app/share/icons/hicolor/256x256@2/apps/sh.loft.devpod.png
      - install -Dm644 DevPod.metainfo.xml /app/share/metainfo/sh.loft.devpod.metainfo.xml