name: kubernetes
version: v0.0.1
icon: https://devpod.sh/assets/kubernetes.svg
home: https://github.com/loft-sh/devpod
description: |-
  DevPod on Kubernetes
optionGroups:
  - options:
      - KUBERNETES_NAMESPACE
      - DISK_SIZE
      - BUILD_REPOSITORY
    name: "Options"
    defaultVisible: true
  - options:
      - KUBERNETES_CONTEXT
      - KUBERNETES_CONFIG
    name: "Kubernetes Config"
  - options:
      - BUILDKIT_IMAGE
      - BUILDKIT_PRIVILEGED
      - BUILDKIT_NODE_SELECTOR
      - BUILDKIT_RESOURCES
    name: "Building"
  - options:
      - CLUSTER_ROLE
      - SERVICE_ACCOUNT
      - CREATE_NAMESPACE
      - KUBECTL_PATH
      - INACTIVITY_TIMEOUT
      - STORAGE_CLASS
      - PVC_ACCESS_MODE
      - RESOURCES
      - POD_MANIFEST_TEMPLATE
      - NODE_SELECTOR
      - HELPER_RESOURCES
      - HELPER_IMAGE
      - LABELS
    name: "Advanced Options"
options:
  BUILD_REPOSITORY:
    description: If defined, DevPod will build and push images to the given repository. If empty, DevPod will not build any images. Make sure you have push permissions for the given repository.
    global: true
  DISK_SIZE:
    description: The default size for the persistent volume to use.
    default: 10Gi
  BUILDKIT_IMAGE:
    description: The buildkit image to use for building dev containers.
    global: true
  BUILDKIT_PRIVILEGED:
    description: If the buildkit pod should run as a privileged pod.
    type: boolean
    global: true
  KUBERNETES_CONTEXT:
    description: The kubernetes context to use. E.g. my-kube-context
  KUBERNETES_CONFIG:
    description: The kubernetes config to use. E.g. /path/to/my/kube/config.yaml
  KUBERNETES_NAMESPACE:
    description: The kubernetes namespace to use
    command: |-
      NAMESPACE=$(${KUBECTL_PATH} config view --kubeconfig=${KUBERNETES_CONFIG} --context=${KUBERNETES_CONTEXT} --minify -o jsonpath='{..namespace}' 2>/dev/null || true)
      if [ -z "${NAMESPACE}" ]; then
        NAMESPACE=devpod
      fi
      echo $NAMESPACE
  CREATE_NAMESPACE:
    description: If true, DevPod will try to create the namespace.
    default: "true"
    type: boolean
    global: true
  CLUSTER_ROLE:
    description: If defined, DevPod will create a role binding for the given cluster role.
    global: true
  SERVICE_ACCOUNT:
    description: If defined, DevPod will use the given service account for the dev container.
    global: true
  HELPER_IMAGE:
    description: The image DevPod will use to find out the cluster architecture. Defaults to alpine.
    global: true
  HELPER_RESOURCES:
    description: The resources to use for the workspace init container. E.g. requests.cpu=100m,limits.memory=1Gi
    global: true
  KUBECTL_PATH:
    description: The path where to find the kubectl binary.
    default: kubectl
    global: true
  INACTIVITY_TIMEOUT:
    description: "If defined, will automatically stop the pod after the inactivity period. Examples: 10m, 1h"
  STORAGE_CLASS:
    description: If defined, DevPod will use the given storage class to create the persistent volume claim. You will need to ensure the storage class exists in your cluster!
    global: true
  PVC_ACCESS_MODE:
    description: If defined, DevPod will use the given access mode to create the persistent volume claim. You will need to ensure the storage class support the given access mode!. E.g. RWO or ROX or RWX or RWOP
    global: true
  NODE_SELECTOR:
    description: The node selector to use for the workspace pod. E.g. my-label=value,my-label-2=value-2
    global: true
  RESOURCES:
    description: The resources to use for the workspace container. E.g. requests.cpu=500m,limits.memory=5Gi,limits.gpu-vendor.example/example-gpu=1
    global: true
  POD_MANIFEST_TEMPLATE:
    description: Pod manifest template file path used as template to build the devpod pod. E.g. /path/pod_manifest.yaml
    global: true
  LABELS:
    description: The labels to use for the workspace pod. E.g. devpod.sh/example=value,devpod.sh/example2=value2
    global: true
  BUILDKIT_RESOURCES:
    description: The resources to use for the build pod. E.g. requests.cpu=500m,limits.memory=5Gi
    global: true
  BUILDKIT_NODE_SELECTOR:
    description: The node selector to use for the buildkit pod. E.g. my-label=value,my-label-2=value-2
    global: true
agent:
  containerInactivityTimeout: ${INACTIVITY_TIMEOUT}
  local: true
  driver: kubernetes
  kubernetes:
    path: ${KUBECTL_PATH}
    namespace: ${KUBERNETES_NAMESPACE}
    context: ${KUBERNETES_CONTEXT}
    config: ${KUBERNETES_CONFIG}
    clusterRole: ${CLUSTER_ROLE}
    serviceAccount: ${SERVICE_ACCOUNT}
    buildRepository: ${BUILD_REPOSITORY}
    helperImage: ${HELPER_IMAGE}
    helperResources: ${HELPER_RESOURCES}
    resources: ${RESOURCES}
    labels: ${LABELS}
    nodeSelector: ${NODE_SELECTOR}
    buildkitImage: ${BUILDKIT_IMAGE}
    buildkitPrivileged: ${BUILDKIT_PRIVILEGED}
    buildkitNodeSelector: ${BUILDKIT_NODE_SELECTOR}
    buildkitResources: ${BUILDKIT_RESOURCES}
    persistentVolumeSize: ${DISK_SIZE}
    createNamespace: ${CREATE_NAMESPACE}
    storageClassName: ${STORAGE_CLASS}
    pvcAccessMode: ${PVC_ACCESS_MODE}
    podManifestTemplate: ${POD_MANIFEST_TEMPLATE}
exec:
  init: |-
    # Check if kubernetes is reachable
    ${KUBECTL_PATH} get pods --kubeconfig=${KUBERNETES_CONFIG} --namespace=${KUBERNETES_NAMESPACE} --context=${KUBERNETES_CONTEXT} >/dev/null 2>&1
    if [ $? -ne 0 ]; then
      >&2 echo "Seems like kubernetes is not reachable on your system."
      >&2 echo "Please make sure kubectl is installed and working."
      >&2 echo "You can verify if kubectl is working correctly via: ${KUBECTL_PATH} get pods --kubeconfig=${KUBERNETES_CONFIG} --namespace=${KUBERNETES_NAMESPACE} --context=${KUBERNETES_CONTEXT}"
      exit 1
    fi

  command: |-
    "${DEVPOD}" helper sh -c "${COMMAND}"
