name: docker
version: v0.0.1
icon: https://www.docker.com/wp-content/uploads/2022/03/vertical-logo-monochromatic.png
home: https://github.com/loft-sh/devpod
description: |-
  DevPod on Docker
optionGroups:
  - options:
      - DOCKER_PATH
      - INACTIVITY_TIMEOUT
    name: "Advanced Options"
options:
  INACTIVITY_TIMEOUT:
    description: If defined, will automatically stop the container after the inactivity period.
  DOCKER_PATH:
    description: The path where to find the docker binary.
    default: docker
agent:
  containerInactivityTimeout: ${INACTIVITY_TIMEOUT}
  path: ${DEVPOD}
  docker:
    path: ${DOCKER_PATH}
exec:
  init: |-
    # Check if docker exists and is reachable
    DOCKER_REACHABLE=$(docker ps > /dev/null 2>&1 && echo -n "true" || echo -n "false")
    if [ "$DOCKER_REACHABLE" = "false" ]; then
      >&2 echo "Seems like docker is not reachable on your system."
      >&2 echo "Please make sure docker is installed and running."
      >&2 echo "You can verify if docker is running correctly via 'docker ps'"
      exit 1
    fi

  command: |-
    ${DEVPOD} helper sh -c "${COMMAND}"
