name: Publish Desktop
on: workflow_dispatch

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-20.04, windows-latest]
    runs-on: ${{ matrix.platform }}
    env:
      GO111MODULE: on
      GOFLAGS: -mod=vendor

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./desktop/src-tauri -> target"

      - name: Go setup
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - name: Build CLI for Desktop
        if: matrix.platform != 'windows-latest'
        run: |
          chmod +x ./hack/build-desktop-cli.sh
          ./hack/rebuild.sh

      - name: Build CLI for Desktop
        if: matrix.platform == 'windows-latest'
        run: |
          ./hack/build-desktop-cli.sh

      - name: Sync node version and setup cache
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "yarn"
          cache-dependency-path: "./desktop/yarn.lock"

      - name: Install frontend dependencies
        run: yarn install
        working-directory: "./desktop"

      - name: Install frontend dependencies
        run: yarn install
        working-directory: "./desktop"

      - name: Build the app
        uses: tauri-apps/tauri-action@v0
        with:
          projectPath: "./desktop"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # ENABLE_CODE_SIGNING: ${{ secrets.APPLE_CERTIFICATE }}
          # APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
          # APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
          # APPLE_SIGNING_IDENTITY: ${{ secrets.APPLE_SIGNING_IDENTITY }}
          # APPLE_ID: ${{ secrets.APPLE_ID }}
          # APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
        # with:
        # tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
        # releaseName: 'App v__VERSION__'
        # releaseBody: 'See the assets to download this version and install.'
        # releaseDraft: true
        # prerelease: false
