name: Unit tests

on:
  workflow_dispatch: {}
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited
    branches:
      - main
    paths:
      - "**.go"
      - "hack/unit-tests.sh"
      - ".github/workflows/unit-tests.yaml"
      - "!/docs/**"

# make sure the pipeline is only running once
concurrency:
  group: unit-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:  
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.5

      - name: Test
        run: ./hack/unit-tests.sh